/*====================================[General]===================================*/

:root {
    --header-heigt: 61px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "serif";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.flex-container {
    display: flex;
    flex-flow: column;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: auto;
    padding: 30px 50px;
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.3);
    flex: 1;
}

.content-container > * {
    width: 100%;
}

.content-container hr {
    margin: 20px;
    border-width: 1px;
    border-style: solid;
    opacity: 0.3;
}

.content-title {
    font-size: 2em;
    text-align: center;
    padding-bottom: 30px;
}

.shadow {
    box-shadow: 0 4px 10px 2px gray;
}

.rounded {
    border-radius: 20px;
}

.contents-list {}

.contents-list ul {}

body {
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    will-change: transform;
    z-index: 1000;
}

.top-nav-bar {
    height: 100%;
    background-color: darkred;
}

.top-nav-bar ul {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    list-style-type: none;
    height: 100%;
}

.top-nav-bar ul li {
    height: 100%;
}

.top-nav-bar ul li a {
    display: inline-block;
    color: whitesmoke;
    padding: 15px;
    text-decoration: none;
}

.top-nav-bar li a:focus,
.top-nav-bar li a:hover {
    background-color: brown;
}

.page-active {
    background-color: red;
}

footer {
    background-color: darkred;
    color: whitesmoke;
}

.footer-content {
    padding: 15px;
}

/*====================================[index]===================================*/

.article-me {
    display: flex;
    align-content: center;
    text-align: center;
    flex-flow: column wrap;
    padding: 20px;
}

/*---------------------------------------------------------------------------------*/
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_overflow/CSS_carousels */

.labs-carousel {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
}

.labs-done {
    color: green;
}

.labs-not-done {
    color: red;
}

.labs-carousel h1 {
    width: 100%;
}

.labs-carousel-block {
    width: 100%;
    height: 100%;
    align-content: center;
}

.labs-carousel li:hover {
    outline: 3px solid slategray;
}

.labs-carousel li a {
    color: black;
    text-decoration: none;
}

.labs-carousel ul {
    height: 150px;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    gap: 4vw;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    anchor-name: --my-carousel;
    scroll-marker-group: after;
}

.labs-carousel li {
    list-style-type: none;
    outline: 1px solid black;
    border-radius: 10px;
    flex: 0 0 100%;
    scroll-snap-align: center;
}

.labs-carousel ul::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    background: none;
    color: black;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    position-anchor: --my-carousel;
}

.labs-carousel ul::scroll-button(*):hover,
.labs-carousel ul::scroll-button(*):focus {
    opacity: 1;
}

.labs-carousel ul::scroll-button(*):active {
    translate: 1px 1px;
}

.labs-carousel ul::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: unset;
}

.labs-carousel ul::scroll-button(left) {
    height: 40px;
    content: "◄";
    right: calc(anchor(left));
    bottom: calc(anchor(center) - 20px);
}

.labs-carousel ul::scroll-button(right) {
    height: 40px;
    content: "►";
    left: calc(anchor(right));
    bottom: calc(anchor(center) - 20px);
}

.labs-carousel ul::scroll-marker-group {
    position: absolute;
    position-anchor: --my-carousel;
    top: calc(anchor(bottom));
    justify-self: anchor-center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.labs-carousel ul li::scroll-marker {
    content: "";
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
}

.labs-carousel ul li::scroll-marker:target-current {
    background-color: black;
}

/*====================================[about_me]===================================*/

.me #sigma-me {
    grid-area: sigma-me;
    justify-self: center;
    width: 100%;
    height: auto;
}

.me #name {
    grid-area: name;
    font-size: 3em;
    word-break: break-word;
}

.me #group {
    grid-area: group;
    opacity: 0.6;
    text-indent: 15px;
}

.me {
    display: grid;
    padding: 40px 0;
    grid-template-columns: 50% 5% 40% 5%;
    grid-template-rows: 15% 60% 25%;
    grid-template-areas:
        "sigma-me . . ."
        "sigma-me . name ."
        "sigma-me . group .";
}

.past h3 {
    grid-area: title;
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
}

.past p {
    grid-area: text;
    justify-self: end;
    align-self: center;
    padding: 15px;
    font-size: 1.3em;
}

.past img {
    grid-area: image;
    width: 80%;
}

.past {
    width: 100%;
    display: grid;
    padding: 20px 0;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "title image"
        "text image";
}

.university h3 {
    grid-area: title;
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
}

.university p {
    grid-area: text;
    justify-self: end;
    align-self: center;
    text-align: right;
    padding: 15px;
    font-size: 1.3em;
}

.university img {
    grid-area: image;
    width: 100%;
}

.university {
    width: 100%;
    padding: 20px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 80%;
    grid-template-areas:
        "image title"
        "image text";
}

.computer {
    text-align: center;
}

.computer h3 {
    padding: 20px;
    font-size: 1.5em;
}

.computer p {
    font-size: 1.3em;
    padding-bottom: 10px;
}

.attention {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.attention h1 {
    padding: 30px;
    font-size: 3em;
    color: red;
}

.attention h3 {
    font-size: 1.5em;
    padding: 20px;
}

/*====================================[studies]===================================*/

.disciplines-table {
    width: 90%;
}

.disciplines-table,
.disciplines-table th,
.disciplines-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.disciplines-table th,
.disciplines-table td {
    padding: 0.5em 1em;
}

.disciplines-table caption {
    padding-bottom: 20px;
}

/*====================================[photos]===================================*/
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */

.photo-container {
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.photo-card {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid black;
    scale: 1;
    transition: 0.2s;
}

.photo-card:hover {
    transform: scale(1.1) translateY(-15px);
    transition: 0.2s;
}

.photo-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-image-container {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.photo-lable {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    min-height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    word-break: break-word;
}

/*====================================[callback]===================================*/

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callback-form {
    width: 20%;
    height: auto;
    padding: 30px;
}

.callback-form > * {
    margin: 10px 0;
}

.callback-form textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
}

.input-text {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 17.5px;
    border-color: black;
    border-width: 1px;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.button-submit,
.button-reset {
    padding: 10px;
    border-radius: 20px;
    border-width: 1px;
}

.button-submit {
    background-color: forestgreen;
    color: whitesmoke;
    scale: 1;
    transition: 0.1s;
}

.button-submit:focus,
.button-submit:hover {
    scale: 1.05;
    transition: 0.1s;
}

.button-reset {
    background-color: red;
    color: whitesmoke;
    scale: 1;
    transition: 0.1s;
}

.button-reset:focus,
.button-reset:hover {
    scale: 1.05;
    transition: 0.1s;
}

/*====================================[fonts]===================================*/

@font-face {
    font-family: "BarcadeBrawl";
    src: url("../../fonts/Barcade Brawl/BarcadeBrawlRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ComputerPixel-7";
    src: url("../../fonts/Computer Pixel-7/computer_pixel-7.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
