/*====================================[General]===================================*/

* {
    margin: 0;
    padding: 0;
    font-family: "serif";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
}

body {
    min-height: 100vh;
}

header,
main,
footer {
    width: 100%;
}

header {
    height: 61px;
    position: sticky;
    top: 0;
    will-change: transform;
    z-index: 1000;
}

.top-nav-bar {
    height: 100%;
    background-color: darkred;
}

.top-nav-bar ul {
    list-style-type: none;
    overflow: hidden;
}

.top-nav-bar li {
    float: left;
}

.top-nav-bar li a {
    display: flex;
    color: whitesmoke;
    padding: 15px;
    text-decoration: none;
    font-family: "ComputerPixel-7";
    font-size: 30px;
}

.top-nav-bar li a:focus,
.top-nav-bar li a:hover {
    background-color: brown;
}

.page-active {
    background-color: red;
}

footer {
    margin-top: auto;
    background-color: darkred;
    color: whitesmoke;
}

.footer-content {
    padding: 15px;
}

/*====================================[index]===================================*/

.article-me {
    display: flex;
    align-content: center;
    text-align: center;
    flex-flow: column wrap;
    padding: 20px;
}

/*---------------------------------------------------------------------------------*/
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_overflow/CSS_carousels */

.labs-carousel {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
}

.labs-carousel h1 {
    width: 100%;
}

.labs-carousel-block {
    width: 100%;
    height: 100%;
    align-content: center;
}

.labs-carousel li:hover {
    outline: 3px solid slategray;
}

.labs-carousel li a {
    color: black;
    text-decoration: none;
}

.labs-carousel ul {
    height: 150px;
    width: 40%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    gap: 4vw;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    anchor-name: --my-carousel;
    scroll-marker-group: after;
}

.labs-carousel li {
    list-style-type: none;
    outline: 1px solid black;
    border-radius: 10px;
    flex: 0 0 100%;
    scroll-snap-align: center;
}

.labs-carousel ul::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    background: none;
    color: black;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    position-anchor: --my-carousel;
}

.labs-carousel ul::scroll-button(*):hover,
.labs-carousel ul::scroll-button(*):focus {
    opacity: 1;
}

.labs-carousel ul::scroll-button(*):active {
    translate: 1px 1px;
}

.labs-carousel ul::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: unset;
}

.labs-carousel ul::scroll-button(left) {
    content: "◄";
    right: calc(anchor(left) - 70px);
    bottom: calc(anchor(top));
}

.labs-carousel ul::scroll-button(right) {
    content: "►";
    left: calc(anchor(right) - 70px);
    bottom: calc(anchor(top));
}

.labs-carousel ul::scroll-marker-group {
    position: absolute;
    position-anchor: --my-carousel;
    top: calc(anchor(bottom));
    justify-self: anchor-center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.labs-carousel ul li::scroll-marker {
    content: "";
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
}

.labs-carousel ul li::scroll-marker:target-current {
    background-color: black;
}

/*====================================[about_me]===================================*/



/*====================================[studies]===================================*/

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 0.5em 1em;
}

/*====================================[photos]===================================*/
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */

.photo-content {
    width: 85%;
    margin: auto;
    padding: 30px;
}

.photo-content h1 {
    width: 100%;
    text-align: center;
}

.photo-container {
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    gap: 1.5rem;
}

.photo-card {
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid slategray;
    scale: 1;
    transition: 0.2s;
}

.photo-card:hover {
    scale: 1.05;
    transition: 0.2s;
}

.photo-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-image-container {
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.photo-lable {
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    min-height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

/*====================================[fonts]===================================*/

@font-face {
    font-family: "BarcadeBrawl";
    src: url("../../fonts/Barcade Brawl/BarcadeBrawlRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ComputerPixel-7";
    src: url("../../fonts/Computer Pixel-7/computer_pixel-7.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
