<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>Сайт Баймурадова Тимура</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="styles/style.css">
</head>

<body class="flex-container">
    <header>
        <nav class="top-nav-bar">
            <ul>
                <li><a class="nav-link" href="index.html">Главная</a></li>
                <li><a class="nav-link page-active" href="about_me.html">Обо мне</a></li>
                <li><a class="nav-link" href="my_interests.html">Мои интересы</a></li>
                <li><a class="nav-link" href="studies.html">Учеба</a></li>
                <li><a class="nav-link" href="photos.html">Фотоальбом</a></li>
                <li><a class="nav-link" href="test.html">Тест</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="content-container">
            <article class="me">
                <img id="sigma-me" class="shadow rounded" src="../media/sigma.gif" alt="Ну и ну..."
                    title="я сигма крутой я сигма сигма сигма сигма" />
                <h1 class="name">Баймурадов Тимур Рашидович</h1>
                <h2 class="group">ИС/б-23-1-о</h2>
            </article>
            <hr>
            <h2 class="content-title">Факты обо мне</h2>
            <article class="past">
                <h3>1. Родился в Казахстане</h3>
                <p>Это я в прошлом правда правда --></p>
                <img class="shadow rounded" src="../media/kazah2.jpeg" alt="Ну хз что сказать..." title="Да да я"
                    width="350px" />
            </article>
            <hr>
            <article class="university">
                <h3>2. СевГУ</h3>
                <img class="shadow rounded" src="../media/giga-sevsu.jpg" alt="Вот зараза..." title="Лучший университет!" width="350px" />
                <p>Учусь в самом лучшем, прекрасном, восхитительном, удивительном, невообразимом,
                    современном, блестящем, потресающем, несравнительном, дивном, обворожительном,
                    изумительном
                    Высшем Учебном Заведении в мире - в Севастопольском Государственном Университете!</p>
            </article>
            <hr>
            <article class="computer">
                <h3>3. Я использую Linux, btw, и neovim, btw.:w</h3>
                <p>Neovim делает jjjkkkkkjj:w:wdwdwdw:wcipddyapci":w:w:wci"yyjjjjpciw:wuu:w :Sex!</p>
            </article>
            <hr>
            <article class="attention">
                <h1>ВНИМАНИЕ!</h1>
                <img src="../media/live-reaction.png" alt="тут должен быть мем" title="pov" />
                <h3>Спасибо за внимание.</h3>
            </article>
        </section>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
            <div class="callback">
                <a href="callback.html">Свяжитесь со мной</a>
            </div>
        </section>
    </footer>
</body>

</html>
