<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>Сайт Баймурадова Тимура</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="styles/style.css">
</head>

<body class="flex-container">
    <header>
        <nav class="top-nav-bar">
            <ul>
                <li><a class="nav-link" href="index.html">Главная</a></li>
                <li><a class="nav-link" href="about_me.html">Обо мне</a></li>
                <li><a class="nav-link" href="my_interests.html">Мои интересы</a></li>
                <li><a class="nav-link" href="studies.html">Учеба</a></li>
                <li><a class="nav-link" href="photos.html">Фотоальбом</a></li>
                <li><a class="nav-link" href="test.html">Тест</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="form-container">
            <form class="callback-form shadow rounded" method="post" action="mailto:timur.univercity@gmail.com"
                enctype="text/plain">
                <label for="full-name">ФИО:</label><br>
                <input class="input-text" type="text" name="full-name" autofocus /><br>
                <input type="radio" name="gender" id="male" value="Male" />
                <label for="male">Мужской</label>
                <input type="radio" name="gender" id="female" value="Female" />
                <label for="female">Женский</label><br>
                <label for="age">Возраст:</label>
                <select size="1" name="age">
                    <option>Меньше 16 лет</option>
                    <option selected>От 16 до 18 лет</option>
                    <option>От 19 до 25 лет</option>
                    <option>Больше 25 лет</option>
                </select><br>
                <label for="sender-email">Email:</label><br>
                <input class="input-text" type="email" name="sender-email" /><br>
                <textarea name="callback-text" rows="5"></textarea>
                <div class="buttons">
                    <input class="button-submit" type="submit" value="Отправить" />
                    <input class="button-reset" type="reset" value="Очистить форму" />
                </div>
            </form>
        </section>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
            <div class="callback">
                <a href="callback.html">Свяжитесь со мной</a>
            </div>
        </section>
    </footer>
</body>

</html>
