<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>Обо мне</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="/styles/style.css">
    <link rel="icon" href="/media/favicon.ico">
    <script type="text/javascript" src="/js/menu_reveal_on_hover.js" defer></script>
    <script type="module" src="/js/clock.js" defer></script>
    <script type="module" src="/js/history.js"></script>
    <script type="module" src="/js/track_page.js"></script>
</head>

<body class="flex-container">
    <header>
        <input type="checkbox" id="burger-menu-checkbox" class="burger-menu"
            title="https://www.flaticon.com/ru/authors/andy-horvath" />
        <label for="burger-menu-checkbox" class="burger-icon-closed">
            <img src="/media/burger.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <label for="burger-menu-checkbox" class="burger-icon-opened">
            <img src="/media/cross.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <nav>
            <ul class="top-nav-bar">
                <li><a class="nav-link" href="/">Главная</a></li>
                <li><a class="nav-link page-active" href="/about_me">Обо мне</a></li>
                <li id="interests-link"><a class="nav-link" href="/my_interests">Мои интересы</a></li>
                <li id="studies-link"><a class="nav-link" href="/studies">Учеба</a></li>
                <li><a class="nav-link" href="/photoalbum">Фотоальбом</a></li>
                <li><a class="nav-link" href="/callback">Контакт</a></li>
                <li><a class="nav-link" href="/history">История</a></li>
            </ul>
        </nav>
        <div id="clock" class="clock"></div>
    </header>
    <main>
        <section class="content-container">
            <article class="me content-block">
                <img id="sigma-me" class="shadow rounded" src="/media/sigma.gif" alt="Ну и ну..."
                    title="я сигма крутой я сигма сигма сигма сигма" />
                <h1 id="name" class="name">Баймурадов Тимур Рашидович</h1>
                <h2 id="group" class="group">ИС/б-23-1-о</h2>
            </article>
            <hr>
            <h2 class="content-title">Факты обо мне</h2>
            <article class="past content-block">
                <h3>1. Родился в Казахстане</h3>
                <p>Это я в прошлом правда правда --></p>
                <img class="shadow rounded" src="/media/kazah2.jpeg" alt="Ну хз что сказать..." title="Да да я"
                    width="350px" />
            </article>
            <hr>
            <article class="university content-block">
                <h3>2. СевГУ</h3>
                <img class="shadow rounded" src="/media/giga-sevsu.jpg" alt="Вот зараза..." title="Лучший университет!"
                    width="350px" />
                <p>Учусь в самом лучшем, прекрасном, восхитительном, удивительном, невообразимом,
                    современном, блестящем, потресающем, несравнительном, дивном, обворожительном,
                    изумительном
                    Высшем Учебном Заведении в мире - в Севастопольском Государственном Университете!</p>
            </article>
            <hr>
            <article class="computer content-block">
                <h3>3. Я использую Linux, btw, и neovim, btw.:w</h3>
                <p>Neovim делает jjjkkkkkjj:w:wdwdwdw:wcipddyapci":w:w:wci"yyjjjjpciw:wuu:w :Sex!</p>
            </article>
            <hr>
            <article class="attention content-block">
                <h1>ВНИМАНИЕ!</h1>
                <img src="/media/live-reaction.png" alt="тут должен быть мем" title="pov" />
                <h3>Спасибо за внимание.</h3>
            </article>
        </section>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
        </section>
    </footer>
</body>

</html>
