<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>Сайт Баймурадова Тимура</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="/styles/style.css">
    <link rel="icon" href="/media/favicon.ico">
    <script type="module" src="/js/form_checker.js"></script>
    <script type="module" src="/js/callback_form_validation.js" defer></script>
</head>

<body class="flex-container">
    <header>
        <input type="checkbox" id="burger-menu-checkbox" class="burger-menu"
            title="https://www.flaticon.com/ru/authors/andy-horvath" />
        <label for="burger-menu-checkbox" class="burger-icon-closed">
            <img src="/media/burger.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <label for="burger-menu-checkbox" class="burger-icon-opened">
            <img src="/media/cross.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <nav class="top-nav-bar">
            <ul>
                <li><a class="nav-link" href="/">Главная</a></li>
                <li><a class="nav-link" href="/about_me">Обо мне</a></li>
                <li><a class="nav-link" href="/my_interests">Мои интересы</a></li>
                <li><a class="nav-link" href="/studies">Учеба</a></li>
                <li><a class="nav-link" href="/photoalbum">Фотоальбом</a></li>
                <li><a class="nav-link page-active" href="/callback">Контакт</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="form-container">
            <form class="callback-form shadow rounded" method="post" action="mailto:timur.univercity@gmail.com"
                enctype="text/plain">
                <label for="full_name">ФИО:</label><br>
                <input class="input-text" type="text" name="full_name" autofocus /><br>
                <input class="input-radio" type="radio" name="gender" id="male" value="male" />
                <label for="male">Мужской</label>
                <input class="input-radio" type="radio" name="gender" id="female" value="female" />
                <label for="female">Женский</label><br>
                <label for="age">Возраст:</label>
                <select size="1" name="age">
                    <option selected value="">--Выберите возраст--</option>
                    <option class="0..16">Меньше 16 лет</option>
                    <option class="16..=18">От 16 до 18 лет</option>
                    <option class="19..=25">От 19 до 25 лет</option>
                    <option class="25..">Больше 25 лет</option>
                </select><br>
                <label for="sender-email">Email:</label><br>
                <input class="input-text" type="email" name="sender-email" /><br>
                <label for="phone">Телефон:</label><br>
                <input class="input-text" type="tel" name="phone" /><br>
                <textarea name="callback-text" rows="5"></textarea>
                <div class="buttons">
                    <input class="button-submit" type="submit" value="Отправить" />
                    <input class="button-reset" type="reset" value="Очистить форму" />
                </div>
            </form>
        </section>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
        </section>
    </footer>
</body>

</html>
