<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>Контакт</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="/styles/style.css">
    <link rel="icon" href="/media/favicon.ico">
    <!-- <script type="module" src="/js/form_checker.js"></script> -->
    <!-- <script type="module" src="/js/callback_form_validation.js" defer></script> -->
    <script type="text/javascript" src="/js/menu_reveal_on_hover.js" defer></script>
    <script type="module" src="/js/clock.js" defer></script>
    <script type="module" src="/js/calendar.js" defer></script>
    <script type="text/javascript" src="/js/callback_validation.js" defer></script>
    <script type="text/javascript" src="/js/history.js"></script>
</head>

<body class="flex-container">
    <header>
        <input type="checkbox" id="burger-menu-checkbox" class="burger-menu"
            title="https://www.flaticon.com/ru/authors/andy-horvath" />
        <label for="burger-menu-checkbox" class="burger-icon-closed">
            <img src="/media/burger.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <label for="burger-menu-checkbox" class="burger-icon-opened">
            <img src="/media/cross.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <nav>
            <ul class="top-nav-bar">
                <li><a class="nav-link" href="/">Главная</a></li>
                <li><a class="nav-link" href="/about_me">Обо мне</a></li>
                <li id="interests-link"><a class="nav-link" href="/my_interests">Мои интересы</a></li>
                <li id="studies-link"><a class="nav-link" href="/studies">Учеба</a></li>
                <li><a class="nav-link" href="/photoalbum">Фотоальбом</a></li>
                <li><a class="nav-link page-active" href="/callback">Контакт</a></li>
                <li><a class="nav-link" href="/history">История</a></li>
            </ul>
        </nav>
        <div id="clock" class="clock"></div>
    </header>
    <main>
        <section class="form-container">
            <form id="callback-form" class="callback-form shadow rounded" method="post"
                action="mailto:timur.univercity@gmail.com" enctype="text/plain">
                <label for="full-name">ФИО:</label><br>
                <input id="full-name" class="input-text" type="text" name="full-name" autofocus /><br>

                <div id="gender-radios">
                    <input class="input-radio" type="radio" name="gender" id="male" value="male" />
                    <label for="male">Мужской</label>
                    <input class="input-radio" type="radio" name="gender" id="female" value="female" />
                    <label for="female">Женский</label>
                </div>

                <label for="age">Возраст:</label>
                <select id="age" size="1" name="age">
                    <option selected value="">--Выберите возраст--</option>
                    <option value="0..16">Меньше 16 лет</option>
                    <option value="16..=18">От 16 до 18 лет</option>
                    <option value="19..=25">От 19 до 25 лет</option>
                    <option value="25..">Больше 25 лет</option>
                </select><br>

                <label for="burthday">Дата рождения:</label><br>
                <input class="input-text" type="text" name="birthday" id="birthday-date-input"></input><br>
                <div id="calendar" class="calendar shadow rounded">
                    <div class="calendar-controls">
                        <select id="month-select" class="month-select">
                            <option value="0">Январь</option>
                            <option value="1">Февраль</option>
                            <option value="2">Март</option>
                            <option value="3">Апрель</option>
                            <option value="4">Май</option>
                            <option value="5">Июнь</option>
                            <option value="6">Июль</option>
                            <option value="7">Август</option>
                            <option value="8">Сентябрь</option>
                            <option value="9">Октябрь</option>
                            <option value="10">Ноябрь</option>
                            <option value="11">Декабрь</option>
                        </select>
                        <select id="year-select" class="year-select"></select>
                    </div>
                    <ul class="calendar-header">
                        <li class="calendar-weekday">Пн</li>
                        <li class="calendar-weekday">Вт</li>
                        <li class="calendar-weekday">Ср</li>
                        <li class="calendar-weekday">Чт</li>
                        <li class="calendar-weekday">Пт</li>
                        <li class="calendar-weekday">Сб</li>
                        <li class="calendar-weekday">Вс</li>
                    </ul>
                    <div id="calendar-body" class="calendar-body"></div>
                </div>

                <label for="sender-email">Email:</label><br>
                <input id="email" class="input-text" type="email" name="sender-email" /><br>

                <label for="phone">Телефон:</label><br>
                <input id="phone" class="input-text" type="tel" name="phone" /><br>

                <label for="callback-text">Текст письма:</label><br>
                <textarea id="text" name="callback-text" rows="5"></textarea>

                <div class="buttons">
                    <input class="button-submit" type="submit" value="Отправить" />
                    <input class="button-reset" type="reset" value="Очистить форму" />
                </div>
            </form>
        </section>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
        </section>
    </footer>
</body>

</html>
