<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>История посещений</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="/styles/style.css">
    <link rel="icon" href="/media/favicon.ico">
    <script type="text/javascript" src="/js/menu_reveal_on_hover.js" defer></script>
    <script type="module" src="/js/clock.js" defer></script>
    <script type="module" src="/js/history.js"></script>
    <script type="module" src="/js/set_history_reset.js" defer></script>
</head>

<body class="flex-container">
    <header>
        <input type="checkbox" id="burger-menu-checkbox" class="burger-menu" />
        <label for="burger-menu-checkbox" class="burger-icon-closed">
            <img src="/media/burger.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <label for="burger-menu-checkbox" class="burger-icon-opened">
            <img src="/media/cross.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <nav>
            <ul class="top-nav-bar">
                <li><a class="nav-link" href="/">Главная</a></li>
                <li><a class="nav-link" href="/about_me">Обо мне</a></li>
                <li id="interests-link"><a class="nav-link" href="/my_interests">Мои интересы</a></li>
                <li id="studies-link"><a class="nav-link" href="/studies">Учеба</a></li>
                <li><a class="nav-link" href="/photoalbum">Фотоальбом</a></li>
                <li><a class="nav-link" href="/callback">Контакт</a></li>
                <li><a class="nav-link page-active" href="/history">История</a></li>
            </ul>
        </nav>
        <div id="clock" class="clock"></div>
    </header>
    <main>
        <section class="content-container">
            <button id="reset-history">Сброс истории</button>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">История посещений текущего сеанса</th>
                        <th colspan="2">Вся история посещений</th>
                    </tr>
                </thead>
                <tbody id="history-table">
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
        </section>
    </footer>
    <script type="module">
        import { displayHistory } from '/js/history.js'
        document.addEventListener('DOMContentLoaded', _ => displayHistory());
    </script>
</body>

</html>
