<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>Сайт Баймурадова Тимура</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="/styles/style.css">
</head>

<body class="flex-containfr">
    <header>
        <nav class="top-nav-bar">
            <ul>
                <li><a class="nav-link page-active" href="/">Главная</a></li>
                <li><a class="nav-link" href="/about_me">Обо мне</a></li>
                <li><a class="nav-link" href="/my_interests">Мои интересы</a></li>
                <li><a class="nav-link" href="/studies">Учеба</a></li>
                <li><a class="nav-link" href="/photoalbum">Фотоальбом</a></li>
                <li><a class="nav-link" href="/callback">Контакт</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="content-container">
            <article class="article-me">
                <h1 class="content-title">Кто я?</h1>
                <img class="main-image shadow rounded" src="/media/me.jpg" alt="Ну хз, что сказать..."
                    title="Ы">
                <h1 class="name">Баймурадов Тимур Рашидович</h1>
                <h3 class="group">ИС/б-23-1-о</h3>
            </article>
            <hr>
            <section class="labs-carousel">
                <h1>Лабораторные работы</h1>
                <ul>
                    <li>
                        <a href="/not_exist">
                            <div class="labs-carousel-block labs-not-done">
                                <h2>Работа №1</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/not_exist">
                            <div class="labs-carousel-block labs-not-done">
                                <h2>Работа №2</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/not_exist">
                            <div class="labs-carousel-block labs-not-done">
                                <h2>Работа №3</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/not_exist">
                            <div class="labs-carousel-block labs-not-done">
                                <h2>Работа №4</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/not_exist">
                            <div class="labs-carousel-block labs-not-done">
                                <h2>Работа №5</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/not_exist">
                            <div class="labs-carousel-block labs-not-done">
                                <h2>Работа №6</h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>
        </section>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
        </section>
    </footer>
</body>

</html>
