<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>Сайт Баймурадова Тимура</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="/styles/style_scss.css">
    <link rel="icon" href="/media/favicon.ico">
    <script type="text/javascript" src="/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery/menu_reveal_on_hover.js"></script>
    <script type="text/javascript" src="/js/jquery/clock.js"></script>
    <script type="module" src="/js/jquery/history.js"></script>
    <script type="module" src="/js/jquery/track_page.js"></script>
    <script type="text/javascript" src="/js/popover.js"></script>
    <script type="text/javascript" src="/js/confirm_window.js"></script>
</head>

<body class="flex-container">
    <header>
        <input type="checkbox" id="burger-menu-checkbox" class="burger-menu" />
        <label for="burger-menu-checkbox" class="burger-icon-closed">
            <img src="/media/burger.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <label for="burger-menu-checkbox" class="burger-icon-opened">
            <img src="/media/cross.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <nav>
            <ul class="top-nav-bar">
                <li><a class="nav-link page-active" href="/">Главная</a></li>
                <li><a class="nav-link" href="/about_me">Обо мне</a></li>
                <li id="interests-link"><a class="nav-link" href="/my_interests">Мои интересы</a></li>
                <li id="studies-link"><a class="nav-link" href="/studies">Учеба</a></li>
                <li><a class="nav-link" href="/photoalbum">Фотоальбом</a></li>
                <li><a class="nav-link" href="/callback">Контакт</a></li>
                <li><a class="nav-link" href="/history">История</a></li>
            </ul>
        </nav>
        <div id="clock" class="clock"></div>
    </header>
    <main>
        <section class="content-container">
            <button id="test-confirm">Нажмите</button>
            <article class="article-me content-block">
                <h1 class="content-title">Кто я?</h1>
                <img class="main-image shadow rounded" src="/media/me.jpg" alt="Ну хз, что сказать..." title="Ы">
                <p id="test">Наведи на меня</p>
                <h1 class="name">Баймурадов Тимур Рашидович</h1>
                <h3 class="group">ИС/б-23-1-о</h3>
            </article>
        </section>
        <aside id="aside-test">
            <p id="test2">наведи</p>
            <p id="test3">наведи</p>
        </aside>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
        </section>
    </footer>
</body>

</html>
