<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>Сайт Баймурадова Тимура</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="/styles/style.css">
</head>

<body class="flex-container">
    <header>
        <nav class="top-nav-bar">
            <ul>
                <li><a class="nav-link" href="/">Главная</a></li>
                <li><a class="nav-link" href="/about_me">Обо мне</a></li>
                <li><a class="nav-link page-active" href="/my_interests">Мои интересы</a></li>
                <li><a class="nav-link" href="/studies">Учеба</a></li>
                <li><a class="nav-link" href="/photoalbum">Фотоальбом</a></li>
                <li><a class="nav-link" href="/callback">Контакт</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="content-with-aside">
            <section class="content-container">
                <h1 class="content-title">Мои интересы</h1>
                <section class="interests-section" id="hobbies">
                    <h1>Мои хобби</h1>
                    <article class="content-block">
                        <h2>Программирование</h2>
                        <p>Люблю программировать программы.</p>
                    </article>
                    <article class="content-block">
                        <h2>Рисование</h2>
                        <p>Немного рисую. Вот мои рисуночки:</p>
                    </article>
                </section>
                <hr>
                <section class="interests-section" id="games">
                    <h1>Любимые игры</h1>
                    <article class="content-block">
                        <h2>Minecraft</h2>
                        <p>Моя первая игра.</p>
                    </article>
                    <article class="content-block">
                        <h2>Factorio</h2>
                        <p>Завод должен расти!</p>
                    </article>
                    <article class="content-block">
                        <h2>Dishonored</h2>
                        <p>Любимый стелс-экшен.</p>
                    </article>
                    <article class="content-block">
                        <h2>Hollow Knight</h2>
                        <p>Silksong реален!</p>
                    </article>
                    <article class="content-block">
                        <h2>Far Cry 3</h2>
                        <p>Моя любимая часть серии.</p>
                    </article>
                </section>
                <hr>
                <section class="interests-section" id="music">
                    <h1>Любимая музыка</h1>
                    <article class="content-block">
                        <h2>System of A Down</h2>
                        <p>Обожаю сочетание металла с лирическими моментами. Альбом 'Mezmerize' - топливо для моего
                            СДВГ.
                        </p>
                    </article>
                    <article class="content-block">
                        <h2>Radiohead</h2>
                        <p>Душевная меланхоличная музыка альтернативного рока. Слушаю каждый альбом.</p>
                    </article>
                    <article class="content-block">
                        <h2>Slipknot</h2>
                        <p>Слушаю только первые три альбома, но все равно одна из моих любимых тяжелых групп.</p>
                    </article>
                    <article class="content-block">
                        <h2>Linkin Park</h2>
                        <p>Обожаю их сочетание хард-рока с хип-хопом.</p>
                    </article>
                    <article class="content-block">
                        <h2>Pink Floyd</h2>
                        <p>Очень хорошая музыка. Одна из немногих групп, альбомы которой слушаю от начала до конца, а не
                            отдельными песнями.</p>
                    </article>
                </section>
            </section>
            <aside class="contents-list-box shadow">
                <div class="contents-list">
                    <h4>Содержание</h4>
                    <ul>
                        <li>
                            <a href="#hobbies">Мои хобби</a>
                        </li>
                        <li>
                            <a href="#games">Любимые игры</a>
                        </li>
                        <li>
                            <a href="#music">Любимая музыка</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </section>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
        </section>
    </footer>
</body>

</html>
