<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>Сайт Баймурадова Тимура</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="/styles/style.css">
</head>

<body class="flex-container">
    <header>
        <input type="checkbox" id="burger-menu-checkbox" class="burger-menu"
            title="https://www.flaticon.com/ru/authors/andy-horvath" />
        <label for="burger-menu-checkbox" class="burger-image-closed">
            <img src="/media/burger.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <label for="burger-menu-checkbox" class="burger-image-opened">
            <img src="/media/cross.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <nav class="top-nav-bar">
            <ul>
                <li><a class="nav-link" href="/">Главная</a></li>
                <li><a class="nav-link" href="/about_me">Обо мне</a></li>
                <li><a class="nav-link" href="/my_interests">Мои интересы</a></li>
                <li><a class="nav-link" href="/studies">Учеба</a></li>
                <li><a class="nav-link" href="/photoalbum">Фотоальбом</a></li>
                <li><a class="nav-link" href="/callback">Контакт</a></li>
            </ul>
        </nav>
    </header>
    <main class="flex-container">
        <div class="not-exist">
            <article class="not-exist-box">
                <h1 class="not-exist-title">Этой страницы еще не существует :(</h1>
                <h2 class="not-exist-sorry">sorry...</h2>
            </article>
            <a href="/">На главную</a>
        </div>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
        </section>
    </footer>
</body>

</html>
