<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>Сайт Баймурадова Тимура</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="/styles/style.css">
</head>

<body class="flex-container">
    <header>
        <nav class="top-nav-bar">
            <ul>
                <li><a class="nav-link" href="/">Главная</a></li>
                <li><a class="nav-link" href="/about_me">Обо мне</a></li>
                <li><a class="nav-link" href="/my_interests">Мои интересы</a></li>
                <li><a class="nav-link" href="/studies">Учеба</a></li>
                <li><a class="nav-link page-active" href="/photoalbum">Фотоальбом</a></li>
                <li><a class="nav-link" href="/callback">Контакт</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="content-container" id="photoalbum">
            <h1 class="content-title">Мои любимые фотокарточки</h1>
            <ul class="photo-container">
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo1.jpg" alt="Горящее пианино" title="Это Imagine Dragons?" />
                    </div>
                    <div class="photo-lable">
                        <p>Огненная музыка</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo2.jpg" alt="Волынщик на моноколесе" title="HELL YEAH!!!" />
                    </div>
                    <div class="photo-lable">
                        <p>Эпичный волынщик</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo3.jpg" alt="Гаст из майнкрафта с атомной бомбой"
                            title="Надеюсь ничего не произойдет" />
                    </div>
                    <div class="photo-lable">
                        <p>Гаст с царь бимбой</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo4.jpg" alt="Лягушка со скрипкой"
                            title="Это среда чувакииииииии!" />
                    </div>
                    <div class="photo-lable">
                        <p>Лягушка</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo5.jpg" alt="Круглый пруд" title="Везде обман! Торт это ЛОЖЬ!" />
                    </div>
                    <div class="photo-lable">
                        <p>Круглый пруд</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo6.jpg" alt="Корова с лестницей на голове"
                            title="Любопытной корове вымя оторвали" />
                    </div>
                    <div class="photo-lable">
                        <p>Любопытная корова</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo7.jpg" alt="Мужик с крокодилом"
                            title="Это могли бы быть мы с тобой, но ты не крокодил в очках" />
                    </div>
                    <div class="photo-lable">
                        <p>Мужик с крокодилом</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo8.jpg" alt="Страшные костюмы"
                            title="Я и мои последние две извилины" />
                    </div>
                    <div class="photo-lable">
                        <p>Ночной кошмар</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo9.jpg" alt="ААААААААААААААА!!!"
                            title="ААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААААА" />
                    </div>
                    <div class="photo-lable">
                        <p>АААААААААААААА!!!!!!</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo10.jpg" alt="Младенец с РПГ"
                            title="Я не знаю что тут дополнять" />
                    </div>
                    <div class="photo-lable">
                        <p>Идеальный солдат</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo11.jpg" alt="Круто!" title="Круто!" />
                    </div>
                    <div class="photo-lable">
                        <p>Круто!</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo12.jpg" alt="Японец с огненным оружием" title="Эпично!" />
                    </div>
                    <div class="photo-lable">
                        <p>Огненная крутилка</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo13.jpg" alt="Закрытая на ночь игровая площадка с супермаркете"
                            title="Обернись" />
                    </div>
                    <div class="photo-lable">
                        <p>Когда остался один в супермаркете</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo14.jpg" alt="Кот на скейтборде" title="Крутой!" />
                    </div>
                    <div class="photo-lable">
                        <p>Кот на скейтборде</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo15.jpg" alt="Депресивный Гарфилд" title="Тупа я" />
                    </div>
                    <div class="photo-lable">
                        <p>Самый счастливый студент СевГУ</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo16.jpg" alt="Собака в каске" title="Старое фото" />
                    </div>
                    <div class="photo-lable">
                        <p>Собака в каске</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo17.jpg" alt="Бабка в костюме из травы" title="Фото холмов" />
                    </div>
                    <div class="photo-lable">
                        <p>Ну тут хз</p>
                    </div>
                </li>
                <li class="photo-card shadow">
                    <div class="photo-image-container">
                        <img src="/media/photo/photo18.jpg" alt="Динозавры-лудоманы" title="Let's go gambling!" />
                    </div>
                    <div class="photo-lable">
                        <p>Дино-лудомания</p>
                    </div>
                </li>
            </ul>
        </section>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
        </section>
    </footer>
</body>

</html>
