<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>Фотоальбом</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="/styles/style.css">
    <link rel="icon" href="/media/favicon.ico">
    <script type="text/javascript" src="/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery/menu_reveal_on_hover.js"></script>
    <script type="text/javascript" src="/js/jquery/photoalbum.js"></script>
    <script type="text/javascript" src="/js/jquery/clock.js"></script>
    <script type="module" src="/js/jquery/history.js"></script>
    <script type="module" src="/js/jquery/track_page.js"></script>
</head>

<body class="flex-container">
    <header>
        <input type="checkbox" id="burger-menu-checkbox" class="burger-menu"
            title="https://www.flaticon.com/ru/authors/andy-horvath" />
        <label for="burger-menu-checkbox" class="burger-icon-closed">
            <img src="/media/burger.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <label for="burger-menu-checkbox" class="burger-icon-opened">
            <img src="/media/cross.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <nav>
            <ul class="top-nav-bar">
                <li><a class="nav-link" href="/">Главная</a></li>
                <li><a class="nav-link" href="/about_me">Обо мне</a></li>
                <li id="interests-link"><a class="nav-link" href="/my_interests">Мои интересы</a></li>
                <li id="studies-link"><a class="nav-link" href="/studies">Учеба</a></li>
                <li><a class="nav-link page-active" href="/photoalbum">Фотоальбом</a></li>
                <li><a class="nav-link" href="/callback">Контакт</a></li>
                <li><a class="nav-link" href="/history">История</a></li>
            </ul>
        </nav>
        <div id="clock" class="clock"></div>
    </header>
    <main>
        <section class="content-container" id="photoalbum">
            <h1 class="content-title">Мои любимые фотокарточки</h1>
            <template id="photo-card-template">
                <li class="photo-card shadow">
                    <div class="photo-image-container"></div>
                    <div class="photo-label"></div>
                </li>
            </template>
            <ul class="photo-container"></ul>
            <div id="fullscreen-photo">
                <p id="photo-label"></p>
                <div id="controls">
                    <span id="prev-photo" class="arrow-button">←</span>
                    <span id="photo-number"></span>
                    <span id="next-photo" class="arrow-button">→</span>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
        </section>
    </footer>
</body>

</html>
