<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>Учеба</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="/styles/style.css">
    <link rel="icon" href="/media/favicon.ico">
    <script type="text/javascript" src="/js/menu_reveal_on_hover.js" defer></script>
    <script type="module" src="/js/clock.js" defer></script>
    <script type="module" src="/js/history.js"></script>
    <script type="module" src="/js/track_page.js"></script>
</head>

<body class="flex-container">
    <header>
        <input type="checkbox" id="burger-menu-checkbox" class="burger-menu"
            title="https://www.flaticon.com/ru/authors/andy-horvath" />
        <label for="burger-menu-checkbox" class="burger-icon-closed">
            <img src="/media/burger.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <label for="burger-menu-checkbox" class="burger-icon-opened">
            <img src="/media/cross.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <nav>
            <ul class="top-nav-bar">
                <li><a class="nav-link" href="/">Главная</a></li>
                <li><a class="nav-link" href="/about_me">Обо мне</a></li>
                <li id="interests-link"><a class="nav-link" href="/my_interests">Мои интересы</a></li>
                <li id="studies-link"><a class="nav-link page-active" href="/studies">Учеба</a></li>
                <li><a class="nav-link" href="/photoalbum">Фотоальбом</a></li>
                <li><a class="nav-link" href="/callback">Контакт</a></li>
                <li><a class="nav-link" href="/history">История</a></li>
            </ul>
        <div id="clock" class="clock"></div>
        </nav>
    </header>
    <main>
        <section class="content-container">
            <table class="disciplines-table">
                <caption>Перечень дисциплин</caption>
                <tr>
                    <th rowspan="3">№</th>
                    <th rowspan="3">Дисциплина</th>
                    <th colspan="12">Часов в неделю (Лекций, Лаб.раб, Практ. раб)</th>
                </tr>
                <tr>
                    <th colspan="6">3 курс</th>
                    <th colspan="6">4 курс</th>
                </tr>
                <tr>
                    <th colspan="3">1 сем</th>
                    <th colspan="3">2 сем</th>
                    <th colspan="3">3 сем</th>
                    <th colspan="3">4 сем</th>
                </tr>
                <tr>
                    <td style="text-align:right;">1</td>
                    <td>Безопасность жизнедеятельности</td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                </tr>
                <tr>
                    <td style="text-align:right;">2</td>
                    <td>Веб технологии</td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                </tr>
                <tr>
                    <td style="text-align:right;">3</td>
                    <td>Методы исследования операций</td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                </tr>
                <tr>
                    <td style="text-align:right;">4</td>
                    <td>Методы системного анализа и проектирования информационных систем</td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                </tr>
                <tr>
                    <td style="text-align:right;">5</td>
                    <td>Тестирование программного обеспечения</td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                </tr>
                <tr>
                    <td style="text-align:right;">6</td>
                    <td>Технические средства информационных систем</td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                </tr>
                <tr>
                    <td style="text-align:right;">7</td>
                    <td>Управление данными</td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                    <td style="text-align:center;"></td>
                </tr>
            </table>
            <div class="test-link">
                <a href="/studies/test" class="test-button shadow">
                    Пройти тест по высшей математике
                </a>
            </div>
        </section>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
        </section>
    </footer>
</body>

</html>
