<!DOCTYPE html>

<html lang="ru-RU">

<head>
    <title>Тест</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=stylesheet type="text/css" href="/styles/style_scss.css">
    <link rel="icon" href="/media/favicon.ico">
    <script type="text/javascript" src="/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery/test_form_validation.js"></script>
    <script type="text/javascript" src="/js/jquery/menu_reveal_on_hover.js"></script>
    <script type="text/javascript" src="/js/jquery/clock.js"></script>
    <script type="module" src="/js/jquery/history.js"></script>
    <script type="module" src="/js/jquery/track_page.js"></script>
</head>

<body class="flex-container">
    <header>
        <input type="checkbox" id="burger-menu-checkbox" class="burger-menu"
            title="https://www.flaticon.com/ru/authors/andy-horvath" />
        <label for="burger-menu-checkbox" class="burger-icon-closed">
            <img src="/media/burger.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <label for="burger-menu-checkbox" class="burger-icon-opened">
            <img src="/media/cross.png" alt="B" title="https://www.flaticon.com/ru/authors/andy-horvath" />
        </label>
        <nav>
            <ul class="top-nav-bar">
                <li><a class="nav-link" href="/">Главная</a></li>
                <li><a class="nav-link" href="/about_me">Обо мне</a></li>
                <li id="interests-link"><a class="nav-link" href="/my_interests">Мои интересы</a></li>
                <li id="studies-link"><a class="nav-link" href="/studies">Учеба</a></li>
                <li><a class="nav-link" href="/photoalbum">Фотоальбом</a></li>
                <li><a class="nav-link" href="/callback">Контакт</a></li>
                <li><a class="nav-link" href="/history">История</a></li>
            </ul>
        </nav>
        <div id="clock" class="clock"></div>
    </header>
    <main>
        <section class="content-container">
            <h1 class="content-title">Тест по Высшей Математике</h1>
            <form id="test-form">
                <article class="test-question content-block" id="question1">
                    <h2>1. Вычислите предел:</h2>
                    <img src="/media/limit.png" alt="lim_{x->0} sin(5x)/x" title="lim_x->0 sin(5x)/x" />
                    <div class="question-form">
                        <textarea name="answer_field" rows="4"></textarea>
                    </div>
                </article>
                <article class="test-question content-block">
                    <h2>2. Выберите верное утверждение о сходимости ряда:</h2>
                    <div class="question-form">
                        <input class="input-radio" type="radio" name="series" value="answ1" />
                        <label for="answ1">Ряд <img src="/media/sum1.png" alt="sum_{n=1}^{\infinity} 1/n" />
                            является сходящимся.</label><br>
                        <input class="input-radio" type="radio" name="series" value="answ2" />
                        <label for="answ2">Ряд <img src="/media/sum2.png" alt="sum_{n=1}^{\infinity} 1/(n^2)" />
                            является сходящимся.</label><br>
                    </div>
                </article>
                <article class="test-question content-block">
                    <h2>3. Выберите правильный ответ:</h2>
                    <p>2 + 2 = ?</p>
                    <div class="question-form">
                        <select size="1" name="hard-one">
                            <option value="">--Выберите ответ--</option>
                            <option value="22">22</option>
                            <option value="ce">Compilation Error</option>
                            <option value="4">4</option>
                        </select><br>
                    </div>
                </article>
                <div class="buttons">
                    <input class="button-submit" type="submit" value="Отправить" />
                    <input class="button-reset" type="reset" value="Очистить форму" />
                </div>
            </form>
        </section>
    </main>
    <footer>
        <section class="footer-content">
            <h4>Контакты</h4>
            <p>Email: <a href="mailto:timur.univercity@gmail.com">timur.univercity@gmail.com</a></p>
        </section>
    </footer>
</body>

</html>
