* {
    margin: 0;
    padding: 0;
}

.flex-container {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
}

header,
main,
footer {
    width: 100%;
}

header {
    height: 50px;
}

.top-nav-bar {
    height: 100%;
    background-color: darkred;
}

.top-nav-bar ul {
    list-style-type: none;
    overflow: hidden;
}

.top-nav-bar li {
    float: left;
}

.top-nav-bar li a {
    display: flex;
    color: whitesmoke;
    padding: 15px;
    text-decoration: none;
}

.top-nav-bar li a:focus,
.top-nav-bar li a:hover {
    background-color: brown;
}

.page-active {
    background-color: red;
}

/*=================================================================================*/

.article-me {
    display: flex;
    align-content: center;
    text-align: center;
    flex-flow: column wrap;
    padding: 20px;
}

/*=================================================================================*/
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_overflow/CSS_carousels */

.labs-carousel {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
}

.labs-carousel h1 {
    width: 100%;
}

.labs-carousel-block {
    width: 100%;
    height: 100%;
    align-content: center;
}

.labs-carousel li:hover {
    outline: 3px solid slategray;
}

.labs-carousel li a {
    color: black;
    text-decoration: none;
}

.labs-carousel ul {
    height: 150px;
    width: 40%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    gap: 4vw;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    anchor-name: --my-carousel;
    scroll-marker-group: after;
}

.labs-carousel li {
    list-style-type: none;
    outline: 1px solid black;
    border-radius: 10px;
    flex: 0 0 100%;
    scroll-snap-align: center;
}

.labs-carousel ul::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    background: none;
    color: black;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    position-anchor: --my-carousel;
}

.labs-carousel ul::scroll-button(*):hover,
.labs-carousel ul::scroll-button(*):focus {
    opacity: 1;
}

.labs-carousel ul::scroll-button(*):active {
    translate: 1px 1px;
}

.labs-carousel ul::scroll-button(*):disabled {
    opacity: 0.2;
    cursor: unset;
}

.labs-carousel ul::scroll-button(left) {
    content: "◄";
    right: calc(anchor(left) - 70px);
    bottom: calc(anchor(top));
}

.labs-carousel ul::scroll-button(right) {
    content: "►";
    left: calc(anchor(right) - 70px);
    bottom: calc(anchor(top));
}

.labs-carousel ul::scroll-marker-group {
    position: absolute;
    position-anchor: --my-carousel;
    top: calc(anchor(bottom));
    justify-self: anchor-center;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.labs-carousel ul li::scroll-marker {
    content: "";
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
}

.labs-carousel ul li::scroll-marker:target-current {
    background-color: black;
}

/*=================================================================================*/

footer {
    margin-top: auto;
    background-color: darkred;
    color: whitesmoke;
}

.footer-content {
    padding: 15px;
}

/*=================================================================================*/

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 0.5em 1em;
}
